---
import Layout from '../layouts/Layout.astro';
import schedules from '../../data/schedules.json';
---

<Layout title="Jadwal Kuliah | Hakurei UniTask">
    <div class="pt-10">
        <div class="blur-reveal-container">
            <div class="py-4 text-center">
                <img src="/images/jadwal_kuliah.png" alt="Jadwal Kuliah"/>
                <div class="mt-4">
                    <p class="italic">Tanggal Mulai: 08 September - 10 Januari 2026</p>
                    <p class="italic">Ruangan: VIKTOR, V.621</p>
                </div>
            </div>

            <div class="mt-8">
                <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Hari</th>
                            <th>Nama Mata Kuliah</th>
                            <th>Dosen</th>
                            <th>Jam</th>
                        </tr>
                        </thead>
                        <tbody>
                        {schedules.map((schedule, index) => (
                                <tr>
                                    <th>{index + 1}</th>
                                    <td>{schedule.day}</td>
                                    <td class="font-semibold whitespace-nowrap">{schedule.courseName}</td>
                                    <td class="whitespace-nowrap">{schedule.lecturer}</td>
                                    <td class="whitespace-nowrap">{schedule.time}</td>
                                </tr>
                        ))}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</Layout>

<style is:global>
    .blur-reveal-container > div {
        opacity: 0;
        filter: blur(5px);
        animation-name: reveal;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
        animation-fill-mode: forwards;
    }

    @keyframes reveal {
        from {
            opacity: 0;
            filter: blur(5px);
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0);
        }
    }
</style>

<script>
    const container = document.querySelector('.blur-reveal-container');
    if (container) {
        const children = container.children;

        const initialDelay = 0.5;
        const staggerDelay = 0.4;
        const baseDuration = 1;
        const durationIncrement = 0.5;

        for (let i = 0; i < children.length; i++) {
            const child = children[i] as HTMLElement;

            child.style.animationDelay = `${initialDelay + (i * staggerDelay)}s`;

            const currentDuration = baseDuration + (i * durationIncrement);
            child.style.animationDuration = `${currentDuration}s`;
        }
    }
</script>